#modal_approve .btn {
    background-color: #153438 !important;
}

#modal_approve .modal-content {
    background-color: #1C3948;
}

#modal_approve .modal-header {
    border-bottom: 5px solid #71989B;
}

#modal_approve .modal-dialog {
    width: 300px;
}

#modal_approve .w-50, #modal_approve .w-100 {
    height: 100px;
    margin: 0 auto;
}